.footer{
    display: flex;
    width: 100%;
    justify-content: center;
    border: 1px solid purple;
    &__lista{
        display: flex;
        flex-direction: column;
     
        justify-content: center;
        &__titulo{
            font-size: 1.2rem;
        }
        &__lista{
            ul{
                list-style: none;
                li{
                   a{
                    color: black;
                    text-decoration: none;
                   }
                }
            }
        }
        
    }
    &__redes{


        &__titulo{
            font-size: 1.2rem;
        }
        &__lista{

            
            ul{
                list-style: none;
                display: flex;
                gap: 10px;
                width: 100%;
                padding: 0;
                justify-content: space-around;
            }
        }
    }
}